secrets.yaml
automations.yaml
*.db
*.db-shm
*.db-wal
*.log
*.log.*
.storage/
deps/
tts/
custom_components/
.cloud/
.cache/
.HA_VERSION
.ha_run.lock
lost+found/
blueprints/
themes/
www/community/
www/tapo_control/
